html {
  overflow-x: hidden; }

body {
  font-family: "expo-serif-pro",serif;
  font-style: normal;
  font-weight: 200; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

input, button, keygen, textarea, select {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none; }

a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  color: #000000; }

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0 40px; }
  @media only screen and (max-width: 992px) {
    ul {
      margin-left: 20px;
      margin-right: 40px; } }
  ul li {
    width: 16%; }
    @media only screen and (max-width: 1200px) {
      ul li {
        width: 20%; } }
    @media only screen and (max-width: 992px) {
      ul li {
        width: 25%; } }
    @media only screen and (max-width: 768px) {
      ul li {
        width: 50%; } }
    ul li img {
      display: block;
      margin: 0 auto;
      max-width: 240px; }
      @media only screen and (max-width: 1200px) {
        ul li img {
          max-width: 200px; } }
      @media only screen and (max-width: 768px) {
        ul li img {
          max-width: 160px; } }
    ul li h4 {
      border-top: 1px solid #dbdbdb;
      margin-top: 10px;
      padding-top: 10px;
      display: block;
      max-width: 120px;
      margin: 10px auto 0;
      text-align: center;
      font-weight: 400; }
      @media only screen and (max-width: 768px) {
        ul li h4 {
          margin-bottom: 20px; } }

main {
  max-width: 900px;
  margin-left: 80px;
  margin-bottom: 40px; }
  @media only screen and (max-width: 992px) {
    main {
      margin-right: 80px; } }
  @media only screen and (max-width: 992px) {
    main {
      margin-left: 40px;
      margin-right: 40px; } }
  main h1 {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 0; }
    main h1 span {
      color: #9B9B9B;
      font-size: 18px;
      font-weight: 300;
      position: absolute; }
    main h1 svg {
      margin-left: 10px; }
  main h3 {
    font-size: 24px;
    font-weight: 400;
    color: #9B9B9B;
    margin-top: 10px; }
  main p {
    margin: 50px 0;
    font-size: 24px;
    line-height: 36px; }
    main p a {
      text-decoration: underline; }
  main .signup p {
    font-size: 14px;
    color: #9B9B9B;
    margin-bottom: 15px;
    line-height: 18px; }
    @media only screen and (max-width: 576px) {
      main .signup p {
        text-align: center; } }
  main .signup input[type="email"] {
    border: 1px solid #000000;
    padding: 0 10px;
    height: 40px;
    width: 300px; }
    @media only screen and (max-width: 768px) {
      main .signup input[type="email"] {
        width: 180px; } }
    @media only screen and (max-width: 576px) {
      main .signup input[type="email"] {
        width: 218px;
        margin: 0 auto;
        display: block; } }
  main .signup input[type="submit"] {
    background: #000000;
    color: #FFF;
    margin-left: -5px;
    height: 44px;
    width: 100px; }
    @media only screen and (max-width: 768px) {
      main .signup input[type="submit"] {
        width: 90px; } }
    @media only screen and (max-width: 576px) {
      main .signup input[type="submit"] {
        width: 240px;
        margin: 0 auto;
        display: block;
        border: 1px solid #000000; } }
    main .signup input[type="submit"]:hover {
      cursor: pointer; }
