// VARIABLES
$black:       #000000;
$grey:        #9B9B9B;

// RESPONSIVE BREAKPOINTS
$XS: 576px;
$S: 768px;
$M: 992px;
$L: 1200px;
$XL: 1400px;
$XXL: 1800px;

//mixin
@mixin breakpoint($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) and (max-width: $S - 1) { @content; }
  }
  @else if $canvas == S {
    @media only screen and (min-width: $S) and (max-width: $M - 1) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) and (max-width: $L - 1) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) and (max-width: $XL - 1) { @content; }
  }
  @else if $canvas == XL {
    @media only screen and (min-width: $XL) and (max-width: $XXL - 1) { @content; }
  }
  @else if $canvas == XXL {
    @media only screen and (min-width: $XXL) { @content; }
  }
  @else if $canvas == XSup {
    @media only screen and (min-width: $XS) { @content; }
  }
  @else if $canvas == Sup {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == Mup {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == Lup {
    @media only screen and (min-width: $L) { @content; }
  }
  @else if $canvas == XLup {
    @media only screen and (min-width: $XL) { @content; }
  }
  @else if $canvas == XXLup {
    @media only screen and (min-width: $XXL) { @content; }
  }
  @else if $canvas == XSdown {
    @media only screen and (max-width: $XS) { @content; }
  }
  @else if $canvas == Sdown {
    @media only screen and (max-width: $S) { @content; }
  }
  @else if $canvas == Mdown {
    @media only screen and (max-width: $M) { @content; }
  }
  @else if $canvas == Ldown {
    @media only screen and (max-width: $L) { @content; }
  }
  @else if $canvas == XLdown {
    @media only screen and (max-width: $XL) { @content; }
  }
  @else if $canvas == XXLdown {
    @media only screen and (max-width: $XXL) { @content; }
  }
  @else if $canvas == StoL {
    @media only screen and (min-width: $S) and (max-width: $L - 1) { @content; }
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: "expo-serif-pro",serif;
	font-style: normal;
	font-weight: 200;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

input, button, keygen, textarea, select {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
}

a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  color: $black;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0 40px;
  @include breakpoint(Mdown) {
    margin-left: 20px;
    margin-right: 40px;
  }
  li {
    width: 16%;
    @include breakpoint(Ldown) {
      width: 20%;
    }
    @include breakpoint(Mdown) {
      width: 25%;
    }
    @include breakpoint(Sdown) {
      width: 50%;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 240px;
      @include breakpoint(Ldown) {
        max-width: 200px;
      }
      @include breakpoint(Sdown) {
        max-width: 160px;
      }
    }
    h4 {
      border-top: 1px solid lighten($grey, 25%);
      margin-top: 10px;
      padding-top: 10px;
      display: block;
      max-width: 120px;
      margin: 10px auto 0;
      text-align: center;
      font-weight: 400;
      @include breakpoint(Sdown) {
        margin-bottom: 20px;
      }
    }
  }
}

main {
  max-width: 900px;
  margin-left: 80px;
  margin-bottom: 40px;
  @include breakpoint(Mdown) {
    margin-right: 80px;
  }
  @include breakpoint(Mdown) {
    margin-left: 40px;
    margin-right: 40px;
  }
  h1 {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 0;
    span {
      color: $grey;
      font-size: 18px;
      font-weight: 300;
      position: absolute;
    }
    svg {
      margin-left: 10px;
    }
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
    color: $grey;
    margin-top: 10px;;
  }
  p {
    margin: 50px 0;
    font-size: 24px;
    line-height: 36px;
    a {
      text-decoration: underline;
    }
  }
  .signup {
    p {
      font-size: 14px;
      color: $grey;
      margin-bottom: 15px;
      line-height: 18px;
      @include breakpoint(XSdown) {
        text-align: center;
      }
    }
    input[type="email"] {
      border: 1px solid $black;
      padding: 0 10px;
      height: 40px;
      width: 300px;
      @include breakpoint(Sdown) {
        width: 180px;
      }
      @include breakpoint(XSdown) {
        width:218px;
        margin: 0 auto;
        display: block;
      }
    }
    input[type="submit"] {
      background: $black;
      color: #FFF;
      margin-left: -5px;
      height: 44px;
      width: 100px;
      @include breakpoint(Sdown) {
        width: 90px;
      }
      @include breakpoint(XSdown) {
        width: 240px;
        margin: 0 auto;
        display: block;
        border: 1px solid $black;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
